<a href="https://colab.research.google.com/github/Sahajkaur23/bigdata--assignment/blob/main/assignment_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
data={"Name":['mark','jack','ammy','arsh','marie'],"age":[34,56,23,31,29],"gender":['M','M','M','F','F']}
df=pd.DataFrame(data)
print(df)

    Name  age Gender
0   mark   34      M
1   jack   56      M
2   ammy   23      M
3   arsh   31      F
4  marie   29      F

In [ ]:
df['country']=['usa','canada','usa','india','dubai']
print(df)

    Name  age Gender country
0   mark   34      M     usa
1   jack   56      M  canada
2   ammy   23      M     usa
3   arsh   31      F   india
4  marie   29      F   dubai

In [ ]:
df.iloc[3]

Name        arsh
age           31
Result         F
Grade          A
country    india
Name: 3, dtype: object

In [ ]:
df.iloc[0:2]

   Name  age Result Grade country
0  mark   34      M     A     usa
1  jack   56      M     B  canada

In [7]:
df['Gender'].replace(['M', 'F'], ['Male', 'Female'], inplace=True)
print(df)

    Name  age  Gender
0   mark   34    Male
1   jack   56    Male
2   ammy   23    Male
3   arsh   31  Female
4  marie   29    Male

In [11]:
df.rename(columns={'age': 'Age'}, inplace=True)
print(df)

    Name  Age Gender
0   mark   34      M
1   jack   56      M
2   ammy   23      M
3   arsh   31      F
4  marie   29      F

In [14]:
df.rename(columns={'gender':'Gender'},inplace=True)
print(df)

    Name  Age Gender
0   mark   34      M
1   jack   56      M
2   ammy   23      M
3   arsh   31      F
4  marie   29      F

In [27]:
print(df['Age'].max())
print(df['Age'].min())

56
29

In [22]:
print(df['Gender'].unique())
print(df['Gender'].nunique())
print(df['Gender'].value_counts())

['M' 'F']
2
M    3
F    2
Name: Gender, dtype: int64

In [25]:
df.drop(2, inplace=True)

print(df)

    Name  Age Gender
0   mark   34      M
1   jack   56      M
3   arsh   31      F
4  marie   29      F

In [26]:
df.drop(3, inplace=True)
print(df)

    Name  Age Gender
0   mark   34      M
1   jack   56      M
4  marie   29      F

In [28]:
print(df['Age'].count())
print(df['Age'].sum())
print(df['Age'].mean())

3
119
39.666666666666664